@model OnlineBookStore.Models.Book

<h1>@Model.Title</h1>
<ul>
    <li>@Html.DisplayNameFor(x => x.Author): @Model.Author</li>
    <li>@Html.DisplayNameFor(x => x.Price): @Model.Price</li>
    <li>@Html.DisplayNameFor(x => x.PDate): @Model.PDate</li>
</ul>